<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand">Centro Formazione</a>
            <button class="navbar-toggler" data-target="#navbar" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Docenti" asp-action="Index">Docenti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Edifici" asp-action="Index">Edifici</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>    

    <div class="container spaces-top">
        <partial name="Layout/_MessagePartial"></partial>
        @RenderBody()
    </div>

    <footer>
        TESTO FOOTER
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>